@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --accent: #ffffff;
    --transitions: all 0.3s ease 0s;
    --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

a{
    text-decoration: none;
}

nav{
    padding-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'poppins';
    /* border-bottom: 1px solid black; */
    /* background-color: white; */
    border-top-left-radius: 5px 0px 0px;
    
}

.logo{
    color: white;
    letter-spacing: 2px;
    font-size: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    list-style: none;
    width: 20px;
    cursor: pointer;
}

.logo img{
    width: 80px;
    cursor: pointer;
}

.nav-links{
    display: flex;
    padding-bottom: 5px;
    justify-content: space-around;
    width: 30%;
    z-index: 99;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 15px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease;
}

.container{
    height: 55vh;
    margin: auto;
    width: 90%;
    justify-content: center;
}

.hand{
    width: 5vh;
}

.jumbo{
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    padding-left: 10%;
    align-items: center;
    font-family: poppins;
    font-weight: bold;
    padding-top: 15vh;
}
.jumbo2{
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    padding-left: 10%;
    align-items: center;
    font-family: poppins;
    font-weight: bold;
    padding-top: 2px;
}
.jumbo3{
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    padding-left: 10%;
    align-items: center;
    font-family: poppins;
    font-weight: bold;
    padding-top: 2px;
}

.gradient{
    width: 100%;
    height: 100vh;
    color: #fff;
    background-image: linear-gradient(to right top, #d429c3, #ea00a8, #f8008c, #fe0071, #ff1956, #ff384a, #ff4e40, #fd6136, #fb733d, #f98246, #f69050, #f49d5d);
    background-size: 400%,400%;
    position: relative;
    animation: bg-animation 10s infinite;
}

/* <------MIDDLE PART-----> */

.middle{
    height: auto;
    display: flex;
    justify-content: left;
    padding-left: 13%;
    align-items: center;
}

.gettoknow{
    background-image: var(--gradient);
    background-clip: text;
     color: transparent;
    /* // display: inline-block; */
    background-size: 300%;
    transition: background-position 1s;
}

.jerome{
    height: 80px;
    padding-left: 5px; 
    cursor: pointer;
}

.texts{
    width: 50%;
    padding-left: 30px;
    font-family: Poppins;
    cursor: pointer;
    color: white;
}

.content {
    background: white;
    width: 70vw;
    padding: 3em;
    box-shadow: 0 0 3em rgba(0,0,0,.15);
  }

.get{
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 5px;
    color: white;
    margin: 0;


    /* background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    display: inline-block;
    background-size: 300%;
    transition: background-position 1s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.get:hover{
    color: yellow;
}


.desc{
    font: Poppins;
    font-size: 10px;
    color: white;
}


/* <------PORTFOLIO-----> */

.portfolio{
    height: 60vh;
    padding-top: 5%;
}
.section-title{
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
}

.container-portfolio{
    min-height: 50vh;
    overflow: hidden;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    overflow: hidden;
    height: 300px;
    width: 350px;
    position: relative;
    cursor: pointer;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .5s;
    background-color: #555;
}

.image:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-140%, -50%);
    /* background-color: rgba(158, 158, 158, 0.8); */
    background-image: linear-gradient(to right top, #d429c3, #ea00a8, #f8008c, #fe0071, #ff1956, #ff384a, #ff4e40, #fd6136, #fb733d, #f98246, #f69050, #f49d5d);
    opacity: 50%;
    border-radius: 50%;
    transition: .8s;
    animation: bg-animation 10s infinite;
}

.image:hover:after{
    transform: translate(-50%, -50%);
}

.image:hover img{
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg);
}

.container-portfolio img{
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s;
    cursor: pointer;
}

.container-portfolio a{
    font-family: Poppins;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in;
}

.image:hover a{
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
}

hr{
    width: 80%;
    display: flex;
    justify-content: center;
    color: gray;
    margin-left: 10%;
}

.contact{
    text-align: center;
}

footer{
    font-size: small;
    font-weight: lighter;
    text-align: center;
    font-family: Poppins;
    color: rgb(158, 153, 153);
}


@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 15vh;
        background-color: #cbcdd1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        opacity: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        opacity: 50%;
    }

    .nav-active{
        opacity: 50%;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

    .container{
        height: 50vh;
    }

    .jumbo{
        font-size: 40px;
        align-items: center;
    }
    .jumbo2{
        font-size: 40px;
        align-items: center;
    }
    .jumbo3{
        font-size: 40px;
        align-items: center;
    }

    /* MIDDLE PART */

    .middle{
        height: auto;
        /* display: flex; */
        /* justify-content: left; */
        padding-left: 13%;
        align-items: center;
        cursor: pointer;
    }

    .jerome{
        height: 60px;
    }

    .title{
        font-size: 15px;
        padding-bottom: 5px;
    }
    
    .desc{
        font: Poppins;
        font-size: 8px;
        color: rgb(126, 126, 126);
    }
}

@media screen and (max-width: 376px){
   
    .container{
        height: 30vh;
        font-size: 15px;
    }

    .middle{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .jerome{
        /* opacity: 0; */
        padding-top: 20vh;
        max-width: 40% ;
        height: auto;
        margin: 0 auto;
        display: block;
        
    }

    .get{
        display: none;
    }
    .title{
        display: none;
    }
    
    .desc{
        display: none;
    }

    .logo img{
        width: 60px;
    }

    /* .container-portfolio{
        min-height: 50vh;
        overflow: hidden;
        width: 50%;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    } */

}


.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px) ;

}

/* <------Gradient Animation-----> */

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }

