{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jerome Zebua</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    </head>
    <body>
        <div class="gradient">
           <nav>
            <div class="logo">
                <a href="https://www.instagram.com/jeromezebua/"><img class="ig" src="{% static 'myapp/images/logo.png' %}"/></a>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="#">PROJECTS</a>
                </li>
                <li>
                    <a href="#">ABOUT</a>
                </li>
                <li>
                    <a href="#">OTHERS</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <div class="intro"> 
            <div class="container">
                <h1 class="jumbo">Hello!<span> <img src="{% static 'myapp/images/hand.png' %}" alt="" class="hand"></span></h1> 
                <h1 class="jumbo2">Welcome to my Portfolio</h1>
                <h1 class="jumbo3">Exhibition</h1>
            </div>
        </div>

        <section class="abt">
            <div class="middle">
                <div class="pic">
                    <img class="jerome" src="{% static 'myapp/images/jerome.png' %}" alt="">
                </div>
                <div class="texts">
                    <a class="gettoknow" href="#"> <h2 class="get">Get to know Me </h2></a>
                    <p class="desc">Hello! My Name is Jerome and I am currently a second-year Computer Science Student 
                        at University of Indonesia. I am interested in web development as well as data science.
                        My passion, however, is UI/UX. I love doing UX Research and have done a UX research project once.</p>
                </div>
            </div>
            <br><br>
        </section> 
        </div>
        
    <br><br>

        <!-- PORTFOLIO SECTION -->
        <section class="portfolio">
            <h2 class="section-title">Portfolio</h2>

            <div class="container-portfolio">
                <div class="image">
                    <img src="{% static 'myapp/images/thumbnail1.jpg' %}" alt="">
                    <a href="jerome.html" >DailyUI</a>
                </div>
                <div class="image">
                    <img src="{% static 'myapp/images/bni.jpg' %}" alt="">
                    <a href="jerome.html">BNI Revamp</a>
                </div>
                <div class="image">
                    <img src="{% static 'myapp/images/bni.jpg' %}" alt="">
                    <a href="jerome.html">Others</a>
                </div>
            </div>
        </section>
        
        <br><br><br><br><br>

        <section class="footer">
            <hr>
            <div class="foot">
                
                <footer>
                    <!-- <h2 class="contact">Contact Me</h2> -->
                    <br>
                    &copy; 2020 Jerome Emmanuel
                    <br>
                    <br>
                </footer>
            </div>
            <br>
        </section>
        
        <script src="{% static 'myapp/js/app.js' %}"></script>
    </body>
</html>